<nav class="navbar navbar-dark bg-dark row">
    <div class="container">
        <div class="col mr-auto">
            <a class="navbar-brand" routerLink="/events">Events</a>
        </div>
        <div class="col-auto">
            <nav class="nav">
                <a class="nav-link text-light" routerLink="/events">Events</a>
                <a class="nav-link text-light" routerLink="/bookings" *ngIf="login">Bookings</a>
                <a class="nav-link text-light" routerLink="/authenticate" *ngIf="!login">Authenticate</a>
                <a type="button" class="nav-link text-light" (click)="onLogout()" *ngIf="login">Logout</a>
            </nav>
        </div>
    </div>
</nav>
