<div class="container">
    <br>
    <form>
        <div class="form">
            <div class="row">
                <div class="col-4">
                    <input type="text" class="form-control" placeholder="title"
                    [(ngModel)]="title" name="title">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="description"
                    [(ngModel)]="description" name="description">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-2">
                    <input type="Number" class="form-control" placeholder="price"
                    [(ngModel)]="price" name="price">
                </div>
                <div class="col-3">
                    <input type="date" class="form-control" placeholder="date"
                    [(ngModel)]="date" name="date">
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary" (click)='submit()'>enter</button>
                </div>
            </div>
        </div>
    </form>

    <hr>
    
    <div class="row">
            <div class="col" *ngFor = "let event of events">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.title }}</h5>
                        <p class="card-text">{{ event.description }}</p>
                        <a href="#" class="card-link">{{ event.price }}</a>
                        <a href="#" class="card-link">{{ event.date.substr(0,10) }}</a>
                    </div>
                </div>
                <br>
            </div>
        
    </div>
</div>
