<div class="container">
    <br>
    <form *ngIf="login">
        <div class="form">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <input type="text" class="form-control" placeholder="title"
                    [(ngModel)]="title" name="title">
                </div>
                <div class="col-auto">
                    <input type="date" class="form-control" placeholder="date"
                    [(ngModel)]="date" name="date">
                </div>
                <div class="col-auto">
                    <input type="Number" class="form-control" placeholder="price"
                    [(ngModel)]="price" name="price">
                </div>
                
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-6">
                    <input type="text" class="form-control" placeholder="description"
                    [(ngModel)]="description" name="description">
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary" (click)='submit()'>enter</button>
                </div>
            </div>
        </div>
    </form>

    <hr>
    
    <div class="row justify-content-center">
        <div class="col-7" *ngFor = "let event of events">
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text">{{ event.description }}</p>
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <a class="card-link text-dark mr-auto"> ${{ event.price }}</a>
                        </div>
                        <div class="col-auto">
                            <a class="card-link text-dark">{{ event.date.substr(0,10) }}</a>
                        </div>
                    </div>
                </div>
                <button type='button' class="btn btn-outline-success" *ngIf="!login" routerLink="/authenticate">book</button>
                <button type='button' class="btn btn-outline-success" (click)="onBook(event._id)" *ngIf="login">book</button>
            </div>
            <br>
        </div>
    </div>
</div>
